*{
    margin:0;
    padding:0;
    border:0.5px solid rgba(0,0,0,0);
    font-family: "微軟正黑體";
}

body{
    margin-top: 60px;
    background-color:#41240B;
}

#box{
    width: 1250px;
    height: 750px;
    background-image: url(wood.png);
    background-size:100%;
    margin: auto;
    border-right: #41240B;
    border-radius: 20px;
}


/* 導覽列區塊 */

/* logo */
#logo{
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 10px;
    border: 0px solid rgba(0,0,0,0);
}

#logo img{
    max-width: 150%;
    max-height: 150%;
}
/* nav 按鈕 */
nav ul{
    list-style-type: none;
    margin-top: 40px;
}

nav li{
    float: left;
}

nav li a{
    width: 70px;
    height: 45px;
    color: #41240B;
    text-align: center;
    line-height: 50px;
    display: block;
    padding: 0 5px;
}

nav li a:hover{
    border-bottom: 1px solid  #9C4823;
}

a{
    text-decoration:none;
}

/* 內容區塊 */
section{
    width: 600px;
    height: 400px;
    margin:100px 0 0 0 ;
    padding: 80px 0 100px 60px;
}

h1{
    width: 600px;
    color: #41240B;
    font-size: 48px;
    margin-bottom: 30px;
}
p{
    width: 500px;
    font-size: 20px;
    color: #9C4823;
    margin-bottom: 40px;
}
section a{
    font-size: 28px;
    color: white;
    border: 0px solid #000;
    border-radius: 5px;
    background-color:#8B842F;
    padding: 10px 20px;
    margin: 50px 0 0 0;
}